{% extends 'main.html' %}

{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href={% url 'parloirs:home' %}>Parloirs</a></li>
    <li class="breadcrumb-item active">{{ parloir }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <h2>Parloir de {{ parloir.personne }}</h2>

    <table class="col-5">
        <tr>
            <td>Nombre en plus de la personne :</td>
            <td>{{ parloir.nombre }}</td>
        </tr>
        <tr>
            <td>Date :</td>
            <td>{{ parloir.date }} ({{ parloir.repas }})</td>
        </tr>
        <tr>
            <td>Parloir :</td>
            <td>{{ parloir.parloir }}</td>
        </tr>
        <tr>
            <td>Repas apporté :</td>
            <td>{{ parloir.repas_apporte|yesno:'Oui,Non' }}</td>
        </tr>
        <tr>
            <td>Remarques :</td>
            <td>{{ parloir.remarque }}</td>
        </tr>
    </table>


    <a href={% url 'parloirs:update' parloir.id %}>Modifier</a>
    <a href={% url 'parloirs:delete' parloir.id %}>Supprimer</a>
    <a href={% url 'parloirs:calendar' calendar_day calendar_month calendar_year %}>Retour au calendrier</a>
{% endblock %}
