{% extends 'main.html' %}

{% load static %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Séjours</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="d-flex align-self-stretch align-items-center mx-5">
        <!-- Title -->
        <div id="title" class="form-inline mr-auto">
            <h1>Séjours</h1>
            <a href={% url 'sejours:create' %}><p class="mr-auto" title="Ajouter un séjour"><span class="fas fa-plus-circle"></span></p></a>
        </div>

        <!-- Tools -->
        <div id="tools" class="d-flex align-items-center ml-auto">
            <span id="previous_week" class="fas fa-angle-double-left" title="Semaine précédente"></span>

            <div class="input-group" id="datepicker">
                <span class="fas fa-calendar-alt" data-target="#datepicker" data-toggle="datetimepicker" title="Calendrier"></span>
            </div>

            <span id="next_week" class="fas fa-angle-double-right" title="Semaine suivante"></span>
        </div>
    </div>

    <!-- Calendar -->
    <div id="calendar">
        <!-- Dates -->
        {% include 'calendar_dates.html' %}

        <!-- Sejours -->
        <div id="calendar_with_lines">
            <!-- Vertical lines -->
            <div id="calendar_lines" class="d-flex align-items-stretch w-100">
                {% for line in lines %}
                    {% if line == 0 %}
                        <div class="vertical_line zero w-100 flex-grow">{{ line }}</div>
                    {% elif line in bold_lines %}
                        <div class="vertical_line bold w-100">{{ line }}</div>
                    {% else %}
                        <div class="vertical_line w-100">{{ line }}</div>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Bars -->
            <div id="calendar_bars" class="w-100">
                {% for day, day_data in days.items %}
                    {% for sejour, sejour_data in day_data.sejours.items %}
                        {% if sejour_data.length > 0 %}
                            <div
                                class="bar px-1 mt-1 mx-1
                                    {% if sejour_data.arrow_left %}
                                        arrow-left
                                    {% endif %}
                                    {% if sejour_data.arrow_right %}
                                        arrow-right
                                    {% endif %}
                                    {% if sejour_data.pretre %}
                                        pretre
                                    {% endif %}
                                    {% if sejour_data.chambres_nombre > 1 %}
                                        groupe
                                    {% endif %}"
                                style="grid-column: {{ sejour_data.x }} / span {{ sejour_data.length }};"
                                title="{{ sejour.personne }}
du {{ sejour.sejour_du }} {{ sejour.repas_du }}
au {{ sejour.sejour_au }} {{ sejour.repas_au }}
chambre(s): {{ sejour_data.chambres_string }}"
                            >
                                <a href={% url 'sejours:details' sejour.id %}>
                                    {% if sejour_data.warning_pere_suiveur or sejour_data.warning_sacristie %}
                                        [
                                        <span class="fas fa-exclamation-triangle"></span>
                                        {% if sejour_data.warning_pere_suiveur %}<span title="Ce séjour a été modifié, mais le Père suiveur n'en a pas été informé par mail.">P</span>{% endif %}
                                        {% if sejour_data.warning_sacristie %}<span title="Ce séjour a été modifié, mais la sacristie n'en a pas été informée par mail.">S</span>{% endif %}
                                        ]
                                    {% endif %}
                                    {{ sejour.personne }}
                                    {% if sejour_data.chambres > 1 %}
                                        [{{ sejour_data.chambres }}]
                                    {% endif %}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
