@blue: rgb(0, 40, 114);
@full-red: rgb(255, 0, 0);
@green: rgb(0, 100, 0);
@grey: rgb(201, 201, 201);
@grey_text: rgb(49, 50, 57);
@orange: rgb(255, 145, 0);
@red: rgb(200, 0, 0);

.blue {
    color: @blue;
}

.full-red {
    color: @full-red;
}

.green {
    color: @green;
}

.grey {
    color: @grey;
}

.orange {
    color: @orange;
}

.red {
    color: @red;
}

body {
    background-color: #ffffda;

    h1 {
        color: @green;
    }

    input,
    input:focus,
    select,
    select:focus,
    textarea,
    textarea:focus,
    .form-control,
    .form-control:focus {
        color: @grey_text;
    }

    th {
        text-align: center;
    }

    td {
        vertical-align: top;
    }

    // Nav:
    nav {
        #logo {
            img {
                width: 50px;
            }

            p {
                color: @orange;
                font-family: LucidaHW;
                font-size: 2em;
            }
        }

        #menu {
            font-size: 1.3em;
        }
    }

    // Contents:
    #content {

        // Tools:
        #tools {
            margin: 0px 10px 20px 10px;

            ul {
                font-size: 1em;
                vertical-align: middle;
            }


            a,
            .fas {
                color: @green;
                cursor: pointer;
                font-size: 1.5em;
                margin: 0px 10px 0px 10px;
            }

            a {
                font-size: 1em;
            }

            .fas {
                font-size: 1.5em;
            }
        }

        // Calendar:
        #calendar {
            text-align: center;
            width: 100%;

            #calendar-dates {
                .date {
                    width: 100% / 7;

                    .weekday,
                    .date,
                    .current_weekday,
                    .current_date {
                        background-color: @grey;
                        color: @green;
                        font-weight: bold;
                        width: 100%;
                    }

                    .current_weekday,
                    .current_date {
                        color: @full-red;
                    }
                }
            }

            #calendar-bars {
                display: grid;
                grid-template-columns: repeat(7, 100% / 7);
                grid-auto-flow: row dense;

                .bar {
                    background-color: @green;
                    border-radius: 3px;
                    color: white;
                    font-size: 10pt;
                    height: 20px;
                    overflow: hidden;
                    text-align: left;
                    text-overflow: ellipsis;
                    vertical-align: top;
                    white-space: nowrap;
                }

                a {
                    color: white;
                    font-size: 9pt;
                    vertical-align: middle;
                }

                .arrow-left {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }

                .arrow-right {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }

                .pretre {
                    background-color: blue;
                }

                .groupe {
                    background-color: @full-red;
                }

                .pretre.groupe {
                    background-color: rgb(189, 0, 189);
                }

                .parloir {
                    background-color: yellow;
                    color: black;

                    a {
                        color: black;
                    }
                }
            }
        }

        form {
            input[type='checkbox'] {
                margin: 0px 5px 0px 0px;
                width: auto;
            }

            label {
                color: @green;
                font-weight: bold;
                margin: 0px 5px 0px 0px;
                padding: 8px 0px 0px 0px;
            }

            .custom-select {
                max-width: 200px;
            }

            // Help texts:
            .text-muted {
                text-align: center;
            }

            // Sejour: autocomplete personne:
            .select2-selection--single {
                height: 40px !important;
            }
        }
    }
}