<!-- Dates of calendar -->
<div id="calendar-dates" class="d-flex">
    {% for day, day_data in days.items %}
        <div class="date d-flex flex-column align-items-start">
            <!-- Weekday -->
            <div class="{% if day_data.current %}current_weekday{% else %}weekday{% endif %}">{% cycle 'Dimanche' 'Lundi' 'Mardi' 'Mercredi' 'Jeudi' 'Vendredi' 'Samedi' %}</div>

            <!-- Date-->
            <div class="{% if day_data.current %}current_date{% else %}date{% endif %}">{{ day }}</div>
        </div>
    {% endfor %}
</div>